@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

$couleurerror : #d88e8e;
$couleurbg : rgb(107, 104, 104);

h2{
    text-align: center;
    font-size: 100px;
}

form .error {
    color: $couleurerror;
}

body{
    background-color: $couleurbg;
    font-family: 'Montserrat', sans-serif;
}

